body {
    background-color: #333333;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.flex-container {
    display: flex;

    /* styling */
    border: 2px dashed #fff;
    margin: 0 auto 1rem;
    position: relative;
    height: 100%;
    max-width: 650px;
}

.flex-item {
    width: 20%;
    height: 100px;

    /* styling */
    background-color: #006699FF;

    /* workaround for border inside element instead of outside */
    /* box-shadow: inset -1px 0 0 white, inset 0 -1px 0 white, inset 1px 0 0 white, inset 0 1px 0 white; */
    border: 1px solid #fff;
    font-size: 2.5rem;
    color: #fff;

    /* center text horizontally + vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.gap {
    gap: 10px;
}

.row-gap {
    row-gap: 10px;
}

.col-gap {
    column-gap: 10px;
}

.align-center {
    align-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.height-250 {
    height: 250px;
}

.white {
    color: white;
}
